In [1]:
print("Hello, World!")

Hello, World!

In [3]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [5]:
#this is a comment
print("hii")
# and comments will not appear at output

hii

In [7]:
print("Hello, World!") #This is a comment

Hello, World!

In [15]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [13]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [18]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [24]:
x = 4   #integer
y="Sally" #string 
print(x, y)

4 Sally

In [26]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [30]:
x = 5
y = "John"
print(type(x))  #knowing class of a variable
print(type(y))

<class 'int'>
<class 'str'>

In [32]:
x = "John"
# is the same as
x = 'John'

In [34]:
a = 4
A = "Sally"
#A will not overwrite a
print(A, a)

Sally 4

In [36]:
#Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [40]:
#Illegal variable names:

#2myvar = "John"
#my-var = "John"
#my var = "John"

In [42]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [44]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [46]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [52]:
#Example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [54]:
x = 5
y = 10
print(x + y)

15

In [56]:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
x = 5
y = "John"
print(x, y)

5 John

In [60]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [62]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [66]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [68]:
x

'fantastic'

In [70]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)  # Объединение: {1, 2, 3, 4, 5}
print(set1 & set2)  # Пересечение: {3}
print(set1 - set2)  # Разность: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [72]:
x = 5
print(type(x))

<class 'int'>

In [78]:
x = str("Hello World")
print(x)
x = int(20)
print(x)

Hello World
20

In [84]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))
print(z)

<class 'int'>
<class 'float'>
<class 'complex'>
1j

In [86]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [88]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [90]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [92]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [98]:
import random

print(random.randrange(1, 10))

2

In [104]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x, y, z)

1 2 3

In [108]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, z, w)

1.0 2.8 3.0 4.2

In [112]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
z

'3.0'

In [114]:
x

's1'

In [116]:
y

'2'

In [120]:
print("Hello")
print('Hello')

Hello
Hello

In [122]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [1]:
a="""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""   #multiline str
print(a)

'Lorem ipsum dolor sit amet,\nconsectetur adipiscing elit,\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua.'

In [128]:
a = "Hello, World!"
print(a[1])   #the first element by number 0 is H

e

In [130]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [132]:
a = "Hello, World!"
print(len(a))

13

In [138]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [144]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [147]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [149]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [157]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [159]:
a = "Hello, World!"

print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [161]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [163]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [165]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [167]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [169]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [171]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [173]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [175]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [179]:
price = 59     
txt = f"The price is {price:.2f} dollars"    #Display the price with 2 decimals:
print(txt)

The price is 59.00 dollars

In [181]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [185]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [189]:
#  \'	Single Quote	
#  \\	Backslash	
#  \n	New Line	
#  \r	Carriage Return	
#  \t	Tab	
#  \b	Backspace	
#  \f	Form Feed	
#  \ooo	Octal value	
#  \xhh
print(" fjfjjf \\")

 fjfjjf \

In [191]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [193]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [195]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!