In [1]:
import re

In [19]:

#task 1
txt="the abbb a0 ad Adel,  abb, ab hallo, wie geit es dir"
def find_all_a_with_0_or_b(txt):
    x = re.findall('ab*', txt)
    if x:
        print(x)
        print("Yes, there at least one match")
    else:
        print("No")
find_all_a_with_0_or_b(txt)

['abbb', 'a', 'a', 'abb', 'ab', 'a']
Yes, there at least one match

In [21]:
#task 2
def find_all_a_with_0_or_b1(txt):
    x = re.findall('ab{2,3}', txt)
    if x:
        print(x)
        print("Yes, there at least one match")
    else:
        print("No")
find_all_a_with_0_or_b1(txt)

['abbb', 'abb']
Yes, there at least one match

In [29]:
#task 3
def _a_f(txt):
    x=re.findall(r'\b[a-z]+_[a-z]+\b', txt)
    if x:
        print(x)
        print("Yes, there at least one match")
    else:
        print("No")

txt="a_a_b_a a a_ffff c_d c_"
_a_f(txt)

['a_ffff', 'c_d']
Yes, there at least one match

In [33]:
#task 4
def A_d(txt):
    x = re.findall(r'\b[A-Z][a-z]+\b', txt)
    if x:
        print(x)
        print("Yes, there at least one match")
    else:
        print("No")

txt="adddd fds Ad"
A_d(txt)

['Ad']
Yes, there at least one match

In [94]:
#task 5
def No_a_and_end_b(txt):
    x = re.findall(r'a.*?b\b', txt)
    if x:
        print(x)
        print("Yes, there at least one match")
    else:
        print("No")

txt="dyr aaab fdadfb frgr fab"
No_a_and_end_b(txt)

['aaab', 'adfb', 'ab']
Yes, there at least one match

In [118]:
#task 6
def replacing(txt):
    x = re.sub(r"\s", ":", txt)
    x = re.sub(",", ":", x)
    x = re.sub(r"\.", ":", x)
    print(x)
txt="The rain.in,Spain"
replacing(txt)

def replacing1(txt):
    print(re.sub(r'[\s,\.]', ":", txt))
txt = "The rain.in,Spain"
replacing1(txt)

The:rain:in:Spain
The:rain:in:Spain

In [128]:
#task 7
def snake_to_camel(txt):
    components = txt.split('_')
    return components[0] + ''.join(x.title() for x in components[1:])
print(snake_to_camel('snake_case_string'))

snakeCaseString

In [154]:
#task 8
def split_at_uppercase(txt):
    result = re.findall('[A-Z][^A-Z]*', txt)
    return result
print(split_at_uppercase("fewf fcdsKODDew"))

['K', 'O', 'D', 'Dew']

In [176]:
#task 9
def capital_letters(input_string):
    res = re.sub(r'([a-z])([A-Z])', r'\1 \2', input_string)
    return res


cnt = "SplitThisStringAtUppercaseLetters"

print(f"Result string: {capital_letters(cnt)}")

Result string: Split This String At Uppercase Letters

In [204]:
#task 10
def capital_letters(input_string):
    res = re.sub(r'([a-z])([A-Z])', r'\1 \2', input_string)
    return res.strip()
    
def camel_to_snake(txt):
    x = capital_letters(txt).split()
    return x[0] + '_' + '_'.join(y.lower() for y in x[1:])
print(camel_to_snake("snakeCaseString"))

snake_case_string